In [1]:
import pandas as pd

In [2]:
data = "customer_conversion_testing_dataset.csv"
df = pd.read_csv(data)
print(df.dtypes)

LeadID                     int64
Age                        int64
Gender                    object
Location                  object
LeadSource                object
TimeSpent (minutes)        int64
PagesViewed                int64
LeadStatus                object
EmailSent                  int64
DeviceType                object
ReferralSource            object
FormSubmissions            int64
Downloads                  int64
CTR_ProductPage          float64
ResponseTime (hours)       int64
FollowUpEmails             int64
SocialMediaEngagement      int64
PaymentHistory            object
Conversion (Target)        int64
dtype: object

In [3]:
df.head(10)

,LeadID,Age,Gender,Location,LeadSource,TimeSpent (minutes),PagesViewed,LeadStatus,EmailSent,DeviceType,ReferralSource,FormSubmissions,Downloads,CTR_ProductPage,ResponseTime (hours),FollowUpEmails,SocialMediaEngagement,PaymentHistory,Conversion (Target)
0,1,60,Female,Lahore,Organic,46,6,Hot,10,Mobile,Facebook,2,3,0.8,11,3,54,Good,0
1,2,27,Male,Lahore,Email,42,8,Warm,6,Tablet,Direct,1,1,0.4,23,2,35,No Payment,0
2,3,21,Male,Sialkot,Email,56,11,Cold,1,Tablet,Direct,5,3,0.5,8,0,34,Good,0
3,4,37,Female,Quetta,Organic,24,15,Cold,6,Tablet,Direct,1,1,0.7,10,3,59,Good,0
4,5,35,Female,Quetta,Email,39,14,Hot,10,Desktop,Direct,1,3,0.5,13,5,35,Good,0
5,6,34,Male,Gujranwala,Referral,56,9,Hot,6,Desktop,ReferralSite,3,3,0.8,15,7,23,No Payment,0
6,7,28,Female,Sialkot,Social Media,17,10,Cold,2,Desktop,Twitter,0,3,0.6,17,2,119,Good,0
7,8,26,Female,Multan,Referral,25,3,Cold,8,Tablet,Twitter,0,3,0.1,13,1,48,No Payment,0
8,9,54,Female,Lahore,Social Media,28,14,Hot,10,Tablet,Google,5,2,0.7,16,3,188,No Payment,0
9,10,25,Female,Peshawar,Referral,17,14,Warm,2,Desktop,Twitter,1,1,0.6,14,2,155,No Payment,0

In [4]:
def null_check(data_frame):
    print(f'Total null values per row: \n{data_frame.isnull().sum(axis=1)}\n')
    print(f'Total null values per column: \n{data_frame.isnull().sum()}\n')

null_check(df)

Total null values per row:
0        0
1        0
2        0
3        0
4        0
        ..
26140    0
26141    0
26142    0
26143    0
26144    0
Length: 26145, dtype: int64

Total null values per column:
LeadID                   0
Age                      0
Gender                   0
Location                 0
LeadSource               0
TimeSpent (minutes)      0
PagesViewed              0
LeadStatus               0
EmailSent                0
DeviceType               0
ReferralSource           0
FormSubmissions          0
Downloads                0
CTR_ProductPage          0
ResponseTime (hours)     0
FollowUpEmails           0
SocialMediaEngagement    0
PaymentHistory           0
Conversion (Target)      0
dtype: int64

In [5]:
def dup_check(data_frame):
    print(f'Duplicates found: {data_frame.duplicated().any()}\n')
    print(f'Number of duplicates: {data_frame.duplicated().sum()}\n')
    
dup_check(df)

Duplicates found: False

Number of duplicates: 0

In [6]:
df.rename(columns={"TimeSpent (minutes)":"TimeSpent"}, inplace=True)

In [7]:
df.rename(columns={"Conversion (Target)":"Conversion"}, inplace=True)

In [8]:
df['ResponseTime'] = df['ResponseTime (hours)'] * 60

# Drop the original 'ResponseTime (hours)' column
df.drop(columns=['ResponseTime (hours)'], inplace=True)

In [9]:
df.head(10)

,LeadID,Age,Gender,Location,LeadSource,TimeSpent,PagesViewed,LeadStatus,EmailSent,DeviceType,ReferralSource,FormSubmissions,Downloads,CTR_ProductPage,FollowUpEmails,SocialMediaEngagement,PaymentHistory,Conversion,ResponseTime
0,1,60,Female,Lahore,Organic,46,6,Hot,10,Mobile,Facebook,2,3,0.8,3,54,Good,0,660
1,2,27,Male,Lahore,Email,42,8,Warm,6,Tablet,Direct,1,1,0.4,2,35,No Payment,0,1380
2,3,21,Male,Sialkot,Email,56,11,Cold,1,Tablet,Direct,5,3,0.5,0,34,Good,0,480
3,4,37,Female,Quetta,Organic,24,15,Cold,6,Tablet,Direct,1,1,0.7,3,59,Good,0,600
4,5,35,Female,Quetta,Email,39,14,Hot,10,Desktop,Direct,1,3,0.5,5,35,Good,0,780
5,6,34,Male,Gujranwala,Referral,56,9,Hot,6,Desktop,ReferralSite,3,3,0.8,7,23,No Payment,0,900
6,7,28,Female,Sialkot,Social Media,17,10,Cold,2,Desktop,Twitter,0,3,0.6,2,119,Good,0,1020
7,8,26,Female,Multan,Referral,25,3,Cold,8,Tablet,Twitter,0,3,0.1,1,48,No Payment,0,780
8,9,54,Female,Lahore,Social Media,28,14,Hot,10,Tablet,Google,5,2,0.7,3,188,No Payment,0,960
9,10,25,Female,Peshawar,Referral,17,14,Warm,2,Desktop,Twitter,1,1,0.6,2,155,No Payment,0,840

In [10]:
categoricals = df.select_dtypes(include=[object, bool])
categoricals.head(3)

,Gender,Location,LeadSource,LeadStatus,DeviceType,ReferralSource,PaymentHistory
0,Female,Lahore,Organic,Hot,Mobile,Facebook,Good
1,Male,Lahore,Email,Warm,Tablet,Direct,No Payment
2,Male,Sialkot,Email,Cold,Tablet,Direct,Good

In [11]:
df = df.drop('LeadStatus', axis=1)

In [12]:
numericals = df.select_dtypes(include = 'number')
numericals.head(3)

,LeadID,Age,TimeSpent,PagesViewed,EmailSent,FormSubmissions,Downloads,CTR_ProductPage,FollowUpEmails,SocialMediaEngagement,Conversion,ResponseTime
0,1,60,46,6,10,2,3,0.8,3,54,0,660
1,2,27,42,8,6,1,1,0.4,2,35,0,1380
2,3,21,56,11,1,5,3,0.5,0,34,0,480

In [13]:
ordinals = categoricals[['PaymentHistory']]
ordinals.head(3)

  PaymentHistory
0           Good
1     No Payment
2           Good

In [17]:
ordinals = categoricals['PaymentHistory'].map({'Good':1, 'No Payment':0})

In [18]:
nominals = categoricals.drop(columns=['PaymentHistory'])

In [19]:
nominals.head(3)

   Gender Location LeadSource LeadStatus DeviceType ReferralSource
0  Female   Lahore    Organic        Hot     Mobile       Facebook
1    Male   Lahore      Email       Warm     Tablet         Direct
2    Male  Sialkot      Email       Cold     Tablet         Direct

In [20]:
#making dunnies from nominals
nominals = pd.get_dummies(nominals, dtype=int)
nominals.head()

,Gender_Female,Gender_Male,Location_Faisalabad,Location_Gujranwala,Location_Islamabad,Location_Karachi,Location_Lahore,Location_Multan,Location_Peshawar,Location_Quetta,...,LeadStatus_Hot,LeadStatus_Warm,DeviceType_Desktop,DeviceType_Mobile,DeviceType_Tablet,ReferralSource_Direct,ReferralSource_Facebook,ReferralSource_Google,ReferralSource_ReferralSite,ReferralSource_Twitter
0,1,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,0
1,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,1,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,0,0,0

In [23]:
categoricals = pd.concat([ordinals, nominals], axis=1)
categoricals.head()

,PaymentHistory,Gender_Female,Gender_Male,Location_Faisalabad,Location_Gujranwala,Location_Islamabad,Location_Karachi,Location_Lahore,Location_Multan,Location_Peshawar,...,LeadStatus_Hot,LeadStatus_Warm,DeviceType_Desktop,DeviceType_Mobile,DeviceType_Tablet,ReferralSource_Direct,ReferralSource_Facebook,ReferralSource_Google,ReferralSource_ReferralSite,ReferralSource_Twitter
0,1,1,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0
1,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,1,1,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0

In [ ]:
df = pd.concat([categoricals, numeri])